adbutils==2.10.1
graphviz==0.20.3
ImageHash==4.3.2
lxml==5.4.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
openai==2.41.1
pandas==2.2.3
pillow==11.2.1
pyaxmlparser==0.3.31
pytesseract==0.3.13
qwen-vl-utils==0.0.11
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
tenacity==9.1.2
tqdm==4.67.1
uiautomator2==3.2.9
